@model Controle_Financeiro.Models.Despesa

@{
    ViewData["Title"] = "Deletar Despesa";
}

<h2 style="color: red;">Deseja Realmente Deletar?</h2>

</hr>

<div>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Valor)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Valor)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(x => x.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(x => x.Descricao)
        </dt>
        </dl>
</div>

<form asp-action="Deletar">
    <input type="submit" value="Deletar" class="btn btn-danger"/>
</form>
<br>
<a asp-action="Index">Voltar</a>