@model Controle_Financeiro.Models.Receita

@{
    ViewData["Title"] = "Nova Entrada";
}

<h2>Nova Entrada</h2>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
            </div>
             <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
            </div>
             
            <br>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</hr>
<br>
<div>
    <a asp-action="Index">Voltar</a>
</div>